*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

#headLine-event{
   display: flex;
   justify-content: center;
}

#notFoundEvent{
   display: flex;
   justify-content: center;
   align-items: center;
}

